<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Server Images Cloud Node</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/solar/bootstrap.min.css" />
</head>

<body>
  {{!-- Navigations --}}
  {{> navigations }}

  <div class="container p-4">
    {{{body}}}
  </div>


</body>

</html>